@import "~bootstrap/scss/bootstrap";

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commands-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
}


